@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.own{
  align-self: end;
  background-color: #36454f;
}
