@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.own{
  align-self: flex-end;
  
}
.own p{
  background-color: #2563eb;
}

.texts img{
  border-radius: 5px;
  margin-bottom: 5px;
  object-fit: cover;
}

button{
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.login input{
  width: 100%;
  background: #36454f;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
}
